In [6]:
# libraries
from bs4 import BeautifulSoup
import requests
from splinter import Browser
import pandas as pd

In [7]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [8]:
browser = Browser('chrome', **executable_path, headless=False)
url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'
browser.visit(url)

In [9]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

news = soup.find_all('div', class_ ='content_title')
news_title = news[1].find('a', target = "_self").text


news_p = soup.find('div', class_='article_teaser_body').text

print(news_title)

NASA Engineers Checking InSight's Weather Sensors

In [10]:
next_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(next_url)

In [11]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
start = soup.find('li', class_='slide')
fancy = start.find('a', class_='fancybox')
fancy_link = fancy['data-fancybox-href']

featured_image_url = f'https://www.jpl.nasa.gov{fancy_link}'
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA24077_hires.jpg

In [12]:
third_url = 'https://space-facts.com/mars/'
browser.visit(third_url)

In [13]:
tables = pd.read_html(third_url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [14]:
tables[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [15]:
mars_profile_df = tables[0]
mars_profile_df.columns = ["Attribute", "Data"]
mars_profile_df.head()

              Attribute                           Data
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [16]:
mars_profile_df.set_index('Attribute', inplace=True)

In [17]:
html_table= mars_profile_df.to_html('table.html')
html_table

In [77]:
fourth_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(fourth_url)

In [78]:
astro_url = 'https://astrogeology.usgs.gov'
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

#cerberus
cerberus_u = soup.find_all('a', class_='itemLink product-item')
cerberus_ur = cerberus_u[1]['href']
shia_ur = cerberus_u[2]['href']
syrtis_ur = cerberus_u[4]['href']
valles_ur = cerberus_u[6]['href']
titles = soup.find_all('h3')
c_title= titles[0].text
sh_title = titles[1].text
sy_title = titles[2].text
v_title = titles[3].text

browser.visit(f'https://astrogeology.usgs.gov/{cerberus_ur}')
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
cerberus_url = astro_url+soup.find('img', class_='wide-image')['src']
#shia
browser.visit(f'https://astrogeology.usgs.gov/{shia_ur}')
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
shia_url = astro_url+soup.find('img', class_='wide-image')['src']
#syrtis
browser.visit(f'https://astrogeology.usgs.gov/{syrtis_ur}')
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
syrtis_url = astro_url+soup.find('img', class_='wide-image')['src']
#valles
browser.visit(f'https://astrogeology.usgs.gov/{valles_ur}')
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
valles_url = astro_url+soup.find('img', class_='wide-image')['src']

<h3>Cerberus Hemisphere Enhanced</h3>

In [80]:
print(titles[3])

<h3>Valles Marineris Hemisphere Enhanced</h3>

In [81]:
hemisphere_image_urls = [
    {"title": "v_title", "img_url": "valles_url"},
    {"title": "c_title", "img_url": "cerberus_url"},
    {"title": "sh_title", "img_url": "shia_url"},
    {"title": "sy_title", "img_url": "syrtis_url"}]